
body {
  color: white;
	background: #303030;
	font: 1.1em sans-serif;
}
.container {
    display: flex;
}
.parameter {
  margin: 10px 40px 10px 40px;
}
.wrap {
	box-sizing: border-box;
	margin: 70px auto;
	padding: 5px;
	width: 70px;
  height: 300px;
	border-radius: 10px;
	background: #222;
	box-shadow: inset 0 0 1px rgba(0,0,0,.6), 0 1px 0 rgba(255,255,255,.1);
  -webkit-transform: rotate(180deg);
}





.knob-wrap {
  position: relative;
	box-sizing: border-box;
	margin: 70px auto;
	padding: 5px;
	width: 250px;
  height: 250px;
	border-radius: 50%;
	background: #222;
	box-shadow: inset 0 0 1px rgba(0,0,0,.6), 0 1px 0 rgba(255,255,255,.1);
}

.knob {
  width: 200px;
  height: 200px;
  background: #eee;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: -30px;
  margin: 50px;
  display: inline-block;
}
.knob:after, .knob:before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


.knob {
 background: -webkit-repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 12px), -webkit-linear-gradient(#63D0FF, #45fe16);
  border: 4px solid #FF69B4;
}
.knob:after {
  width: 30px;
  height: 100px;
  background: #eee;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  -webkit-transform-origin: top center;
  -webkit-animation: spin 2s linear infinite;
}



@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(170deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}















.prog-bar-attack {
	height: 300px;
  width: 60px;
	border-radius: 5px;
  border: 1px solid #FF69B4;


	background: repeating-linear-gradient(-45deg, rgba(255,255,255,.1), rgba(255,255,255,0) 12px), linear-gradient(#63D0FF, #45fe16);
  -webkit-animation: slide-attack 4s infinite;
}
.prog-bar-decay {
	height: 300px;
  width: 60px;
	border-radius: 5px;
  border: 1px solid #FF69B4;
	background: repeating-linear-gradient(-45deg, rgba(255,255,255,.1),     rgba(255,255,255,0) 12px), linear-gradient(#63D0FF, #45fe16);
  -webkit-animation: slide-decay 4s infinite;
}
.prog-bar-sustain {
	height: 300px;
  width: 60px;
	border-radius: 5px;
  border: 1px solid #FF69B4;
	background: repeating-linear-gradient(-45deg, rgba(255,255,255,.1), rgba(255,255,255,0) 12px), linear-gradient(#63D0FF, #45fe16);
  -webkit-animation: slide-sustain 4s infinite;
}
.prog-bar-release {
	height: 300px;
  width: 60px;
	border-radius: 5px;
  border: 1px solid #FF69B4;
	background: repeating-linear-gradient(-45deg, rgba(255,255,255,.1), rgba(255,255,255,0) 12px), linear-gradient(#63D0FF, #45fe16);
  -webkit-animation: slide-release 4s infinite;
}












@-webkit-keyframes slide-attack {
  0% {height: 0%;}
  100% {height: 30%;}
}
@-webkit-keyframes slide-decay {
  0% {height: 0%;}
  100% {height: 50%;}
}
@-webkit-keyframes slide-sustain {
  0% {height: 0%;}
  100% {height: 80%;}
}
@-webkit-keyframes slide-release {
  0% {height: 0%;}
  100% {height: 40%;}
}
