.nav {
  display: flex;
  justify-content: center;
}


.sound {
  @include size(100px);
  background-color: blue;
  margin: 10px;
}
.stop-sound {
  @include size(100px);
  background-color: red;
  margin: 10px;
}
