
////////////////////////  AMP ENVELOPE SLIDERS  /////////////////////////////////

.attack {
  -webkit-animation: slide-attack 4s forwards;
}
.decay {
  -webkit-animation: slide-decay 4s forwards;
}
.sustain {
  -webkit-animation: slide-sustain 4s forwards;
}
.release {
  -webkit-animation: slide-release 4s forwards;
}
@-webkit-keyframes slide-attack {
  0% {height: 0%;}
  100% {height: 30%;}
}
@-webkit-keyframes slide-decay {
  0% {height: 0%;}
  100% {height: 50%;}
}
@-webkit-keyframes slide-sustain {
  0% {height: 0%;}
  100% {height: 80%;}
}
@-webkit-keyframes slide-release {
  0% {height: 0%;}
  100% {height: 40%;}
}


////////////////////////  FILTER ENVELOPE SLIDERS  /////////////////////////////////

.f-attack {
  -webkit-animation: slide-f-attack 4s forwards;
}
.f-decay {
  -webkit-animation: slide-f-decay 4s forwards;
}
.f-sustain {
  -webkit-animation: slide-f-sustain 4s forwards;
}
.f-release {
  -webkit-animation: slide-f-release 4s forwards;
}
@-webkit-keyframes slide-f-attack {
  0% {height: 0%;}
  100% {height: 50%;}
}
@-webkit-keyframes slide-f-decay {
  0% {height: 0%;}
  100% {height: 70%;}
}
@-webkit-keyframes slide-f-sustain {
  0% {height: 0%;}
  100% {height: 10%;}
}
@-webkit-keyframes slide-f-release {
  0% {height: 0%;}
  100% {height: 50%;}
}
