*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
	background: #303030;
	font: 1.1em sans-serif;

}



h1 {
  text-align: center;
}
.paramname {
  margin: 40px;
    letter-spacing: 0.5em;

}


.lfo-waveforms {
 display: flex;
 flex-direction: column;
 align-self: flex-end;
 border: 1px solid white;
 margin: 110px auto;
 padding: 5px;
 width: 75px;
 border-radius: 10px;
 background: #222;
}

.waveforms {
  	padding: 5px;

    margin: 10px 40px 10px 40px;
    border: 1px solid white;
	background: #222;
	width: 200px;
	border-radius: 10px;

  display: flex;
  justify-content: center;
}
.square {
  margin: 5px;
  height: 50px;
  width: 50px;
  background-color: #45fe16;

}
.saw {
  margin: 5px;
	width: 0;
	height: 0;
	border-bottom: 50px solid #63D0FF;
	border-left: 50px solid transparent;
}
.triangle {
  margin: 5px;
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #FF69B4;
}
